* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

header {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    width: 100vw;
    height: 80px;
    padding: 0 22px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    box-shadow: 0px 4px 6px 0px #0000000D;
}
header img:first-child {
    height: 50px;
}
header img:nth-child(2) {
    height: 30px;
}

strong {
    font-weight: 700;
}

main {
    margin-bottom: 80px;
    padding-top: 26px;
    display: flex;
    flex-direction: column;
    background-color: #F3F3F3;
}
main span {
    width: 100vw;
    margin: 2px 0;
    padding: 13px 9px;
    border-radius: 2px;
    font-size: 14px;
    font-style: normal;
    display: flex;
    align-items: center;
    background-color: white;
}

.mensagem__usuario-entrou {
    background-color: #DCDCDC;
}
.mensagem__privada {
    background-color: #FFDEDE;
}

.fundo-escuro {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
}

.error-400 {
    position: fixed;
    z-index: 2;
    top: calc(50% - (200px/2));
    left: calc(50% - (300px/2));
    width: 300px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    border-radius: 15px;
    background-color: white;
}
.error-400 h3 {
    font-size: 36px;
    font-weight: 700;
}
.error-400 p {
    font-size: 20px;
    font-weight: 500;
}

.escondido {
    display: none;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100vw;
    height: 80px;
    padding: 0 17px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    box-shadow: 0px -4px 6px 0px #0000000D;
}
footer input {
    height: 30px;
    font-size: 18px;
    color: black;
    font-style: italic;
    border: none;
}